{% extends "base.html" %}

{% block title %}Currency Exchange{% endblock %}

{% block body %}

  <h1>Check exchange rates and enter the value you would like to receive,<br> and we will tell you how much you have to pay for it:</h1>

  <form method='post' action="/exchange">
    <div class="container">

      <label for="currency"><b>Currency</b></label>
      <select name="codes">
        {% for name in codes %}
          <option value="{{name}}">{{name}}</option>
        {% endfor %}
      </select><br>
      <label for="value"><b>Value</b></label>
      <input type="text" placeholder="Enter value" name="value" required>
      <button type="submit">Przelicz</button>

    </div>

  </form>



{% endblock %}